body { padding: 10px; }

dt { float: left; clear: left; width: 200px; text-align: right; font-weight: bold; color: green; } 
dd { margin: 0 0 0 210px; padding: 0 0 0.5em 0;  }
dd input { width:70px !important; }

.flex-area {
	display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.quadrant {
	border: 2px solid red;
	margin: 5px;
	padding: 0 10px;
}

.repeats {
	color:red;
}

#counter {
	border:1px solid #999;
	background: #eee;
	width:150px;
	padding:5px;
	margin: 0;
	list-style: none;
}
.count {
	color: green;
}
.over {
	color: red;
}
.total {
	color: brown;
}
